* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #111;
    font-size: 14px;
    line-height: 24px;
}

.nav-bar {
    background: #dddddd;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.12);
}

.nav-top {
    display: flex;
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: column;
    align-items: center;
    background-color: #a5c926;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
}

.nav-top-wrapper {
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top-info {
    
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.nav-top-call {
    
    margin-right: 16px;
}

.email-link {
    
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
}

.nav-top-social {
    
    display: flex;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: flex-end;
    align-items: center;
}

.social-link {
    
    background-color: transparent;
    max-width: 100%;
    display: flex;
    width: 28px;
    height: 28px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 300ms ease;
}

.social-link > img {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.nav-main {
    
    display: flex;
    height: 72px;
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: column;
    align-items: center;
}

.nav-main-wrapper {
    
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    display: flex;
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.nav-main-brand {
    
    background-color: transparent;
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-list {
    position: relative;
    float: right;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
    align-items: center;
}

.nav-link {
    background-color: transparent;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 18px;
    border-radius: 16px;
    transition: color 300ms ease, background-color 300ms ease, box-shadow 300ms ease;
    color: #111;
}

.nav-cart {
    display: inline-block;
    position: relative;
}

.cart-button {
    max-width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    appearance: none;
    background-color: transparent;
    color: #111;
}

.cart-text {
    max-width: 100%;
    display: inline-block;
}

.cart-icon {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    margin-left: 10px;
}

.item-count {
    margin-left: 8px;
    padding-right: 6px;
    padding-left: 6px;
    line-height: 18px;
    text-align: center;
    height: 20px;
    min-width: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    background-color: #a5c926;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

header {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #f8f8f8;
    position: relative;
    height: 80vh;
    background-image: url("https://assets.website-files.com/5badda2935e11303a89a461e/5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg");
    background-position: 50% 94%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hello-toystore {
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
}

.hello-toystore-card {
    
    display: flex;
    width: 100%;
    max-width: 570px;
    padding: 56px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    color: #111;
    text-align: center;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
}

.hello-toystore-title {
    text-align: center;
    
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.hello-toystore-card > h1 {
    
    margin: .67em 0;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}

.hello-toystore-button {
    
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    transition: transform 300ms ease, box-shadow 300ms ease;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.hello-toystore-button:hover {
    box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
    transform: scale(1.05)
}

.scroll-mouse-link {
    
    max-width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    display: flex;
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-bottom: -32px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    opacity: 1;
}

.mouse-icon {
    
    display: flex;
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #bbb;
    border-radius: 12px;
}

.mouse-wheel-icon {
    
    width: 4px;
    height: 4px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: #bbb;
    opacity: 0.02472;
    will-change: opacity;
}

.home-section {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.wrapper {
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.home-categories {
    
    display: flex;
    width: 100%;
    padding-top: 32px;
    justify-content: center;
}

.home-category-card {
    
    position: relative;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    padding: 48px 40px;
    align-items: center;
    flex: 1;
    border-radius: 16px;
    background-color: #ffc12c;
    color: #fff;
    opacity: 1;
}

.home-category-image-1 {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 26px;
    width: 220px;
}

.home-category-info-1 {
    
    margin-left: 224px;
}

.home-category-info-1 > h3{
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.button {
    
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    height: 40px;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 24px;
    background-color: #fff;
    color: #111;
}

.home-category-card-red {
    
    position: relative;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    padding: 48px 40px;
    align-items: center;
    flex: 1;
    border-radius: 16px;
    color: #fff;
    justify-content: flex-end;
    background-color: #fb416b;
    opacity: 1;
}

.home-category-image-2 {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 21px;
    bottom: 17px;
    width: 220px;
}

.home-category-info-2 {
    
    margin-right: 224px;
    text-align: right;
}

.home-category-info-2 > h3{
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.shopping {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding-top: 0px;
}

.shop-header {
    
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.no-margin {
    
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    margin: 0px;
}

.arrow-link {
    
    background-color: transparent;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd;
    transition: border-color 300ms ease;
    color: #111;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 4px;
    padding-right: 20px;
    background-image: url("https://assets.website-files.com/5badda2935e11303a89a461e/5baf79eb570913b9781a96f2_arrow-right-mini-icon.svg");
    background-position: 100% 50%;
    background-size: 11px;
    background-repeat: no-repeat;
}

.shop-header-line {
    
    width: 100%;
    height: 2px;
    margin-top: 32px;
    background-color: #e5e5e5;
}

.shop-header-color {

width: 136px;
height: 100%;
background-color: #a5c926;
}

.shopping-list {
    
    width: 100%;
}

.products {
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.product-item {
    
    display: flex;
    width: 25%;
    padding: 15px;
    flex-direction: column;
    opacity: 1;
}

.product-card {
    
    max-width: 100%;
    display: flex;
    width: 100%;
    padding: 24px 24px 32px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    text-decoration: none;
}

.product-card:hover {
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
    transform: scale(1.05) translate(0px, -2px);
}

.product-card-image {
    
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    padding: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.product-card-image > img {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.product-card-heading {
    
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #111;
}

.product-card-price {
    
    height: 24px;
    padding: 2px 12px;
    border-radius: 16px;
    background-color: #a5c926;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.about-section {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding-bottom: 112px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    color: #fff;
}

.about-intro {
    
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    max-width: 800px;
    opacity: 1;
}

.about-intro > h2 {
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.about-intro > p {
    
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
}

.about-title {
    
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
}

.play-button {
    
    max-width: 100%;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #a5c926;
    transition: transform 300ms ease;
}

.play-button > img {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.more-info {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.more-info-about {
    
    display: flex;
    max-width: 600px;
    margin-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.more-info-title {
    
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.more-info-about > h2 {
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

.free {
    
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.free-card {
    
    position: relative;
    display: flex;
    width: 50%;
    padding-right: 8.33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
}

.free-card-info {
    
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.free-card-info > h2 {
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

.divider {
    
    width: 70px;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 23px;
    background-color: #a5c926;
}

.free-card-text {
    
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}

.free-button {
    
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.free-img {
    
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.free-img > img {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    border-radius: 16px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.subscribe {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding-top: 0px;
    padding-bottom: 0px;
}

.wrapper-sub {
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-right: 15px;
    padding-left: 15px;
}

.sub-card {
    
    display: flex;
    width: 100%;
    padding: 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.sub-info {
    
    display: flex;
    padding-right: 15px;
    align-items: center;
    flex: 1;
}

.sub-icon {
    
    display: flex;
    width: 64px;
    height: 64px;
    margin-right: 24px;
    padding: 18px 16px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #a5c926;
}

.sub-icon > img {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.sub-info > h4 {
    
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.sub-text-green {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    
    color: #a5c926;
}

.sub-form-wrapper {
    
    margin: 0 0 15px;
    width: 50%;
    margin-bottom: 0px;
    padding-left: 15px;
}

.sub-form {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-form-input {
    
    font: inherit;
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    height: 48px;
    padding-right: 28px;
    padding-left: 28px;
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    background-color: #f8f8f8;
    transition: border-color 300ms ease, background-color 300ms ease;
    margin-right: 16px;
    margin-bottom: 0px;
}

.sub-button {
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.insta-section {
    
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.insta-card {
    
    display: flex;
    max-width: 600px;
    margin-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.insta-card-title {
    
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.insta-card > h2 {
    
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 0px;
}

.insta-photos {
    
    display: flex;
    width: 100%;
    margin-bottom: 72px;
    padding-right: 7px;
    padding-left: 7px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.insta-link {
    
    background-color: transparent;
    max-width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-right: 8px;
    margin-left: 8px;
    flex: 1;
    border-radius: 16px;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.insta-pic {
    
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.insta-button {
    border: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    transition: transform 300ms ease, box-shadow 300ms ease;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.footer {
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #a5c926;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
}

.footer-card {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 48px;
    flex-wrap: wrap;
}

.footer-brand-card {
    display: flex;
    width: 200px;
    align-items: center;
}

.footer-brand {
    background-color: transparent;
    position: relative;
    float: left;
    text-decoration: none;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.footer-nav {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-link-home {
    background-color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px;
    color: #fff;
    text-decoration: none;
}

.footer-link {
    background-color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px;
    color: #fff;
    text-decoration: none;
}

.footer-social {
    display: flex;
    width: 200px;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: flex-end;
    align-items: center;
}

.footer-social-link {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 300ms ease;
}

.footer-social-link > img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.footer-bottom {
    display: flex;
    width: 100%;
    margin-top: 48px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    font-size: 11px;
    line-height: 16px;
}

.footer-author {
    display: flex;
    width: 50%;
    align-items: center;
}

.author-link {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
}

.footer-technology {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.footer-tech-link {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
}

.footer-bottom-divider {
    width: 3px;
    height: 3px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 0.5);
}